<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Protected Download</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="items-center">
      <% if (locals.error) { %>
      <div class="error-box">
        <p>❌ Password is incorrect</p>
      </div>
      <% } %>
      <div class="container">
        <h1>Enter Password to Download</h1>
        <form action="/file/download/<%= id %>" method="POST">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter the password"
            required
          />
          <button type="submit">Download</button>
        </form>
      </div>
    </div>
  </body>
</html>
